/*
Background:	F7F8F9
Links:		3E528E
Titles/Bars:	0A122A
Text:		383838
*/

* {
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	/* Paper */
	background: #F7F8F9;
	/* Charcoal */
	color: #383838;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

a {
	color: #3E528E;
	text-decoration: none;
}

hr {
	border: none;
	border-top: 1px solid #0A122A;
}

p {
	width: 100%;
	margin: 2px;
}

h2 {
	color: #0A122A;
}

#container {
	min-height: 100%;
	position: relative;
}

#body {
	padding: 10px;
	padding-bottom: 40px;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
}
