/*
Background:	d5d5d5
Links:		96858f
Titles/Bars:	6d7993	
Text:		52575b
*/

* {
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	/* Paper */
	background: #d5d5d5;
	/* Charcoal */
	color: #52575b;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

a {
	color: #96858f;
	text-decoration: none;
}

hr {
	border: none;
	border-top: 1px solid #6d7993;
}

p {
	width: 90%;
	margin: 2px;
}

h2 {
	color: #6d7993;
}

#container {
	min-height: 100%;
	position: relative;
}

#body {
	padding: 10px;
	padding-bottom: 40px;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
}
