* {
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	/* Paper */
	background: #f4f4f4;
	/* Charcoal */
	color: #373737;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

a {
	color: #5ebeff;
	text-decoration: none;
}

hr {
	border: none;
	border-top: 1px solid #282a2e;
}

p {
	width: 90%;
	margin: 2px;
}

#container {
	min-height: 100%;
	position: relative;
}

#body {
	padding: 10px;
	padding-bottom: 40px;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
}
