*
{
	font-family: monospace;
	background: #f8ffff;
	font-weight: 100;
}

.intro, .links
{
	margin: 30px;
}

.intro
{
	font-size: 20px;
	line-height: 1.6;
}

.links
{
	font-size: 17px;
	line-height: 2.3;
}

a:link, a:visited { text-decoration: none; }
a:hover, a:active { text-shadow: 0 0 5px #aaaaaa; }

/*
gradient from
C20090
to
009970
https://colordesigner.io/gradient-generator
*/
.c1	{ color: #c20090; }
.c2	{ color: #9647c0; }
.c3	{ color: #3f68dc; }
.c4	{ color: #007de1; }
.c5	{ color: #008ad1; }
.c6	{ color: #0092b3; }
.c7	{ color: #009790; }
.c8	{ color: #009970; }

