*
{
	font-family: monospace;
	background: #f8ffff;
	font-weight: 100;
}

.intro, .links
{
	margin: 30px;
}

.intro
{
	font-size: 20px;
	line-height: 1.6;
}

.links
{
	font-size: 17px;
	line-height: 2.3;
}

a:link, a:visited { text-decoration: none; }
a:hover, a:active { text-shadow: 0 0 5px #aaaaaa; }

/*
gradient from
9A0073
to
18a999
https://colordesigner.io/gradient-generator
*/
.linkedin	{ color: #9a0073; }
.github		{ color: #7b41a3; }
.angellist	{ color: #3b62c1; }
.twitter	{ color: #007bca; }
.instagram	{ color: #008ec2; }
.youtube	{ color: #009dae; }
.snapchat	{ color: #18a999; }

