*
{
	font-family: monospace;
	background: #faffff;
	font-weight: 100;
	text-shadow: 0 0 10px lightgrey;
}

.intro
{
	font-size: 20px;
	line-height: 1.6;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
}

.links
{
	font-size: 17px;
	line-height: 2.3;
	margin-top: 30px;
	margin-left: 30px;
}

a:link, a:visited
{
	text-decoration: none;
}

a:hover, a:active
{
	text-decoration: underline;
}

.gitlab
{
	color: #e14329;
}

.instagram
{
	color: #e1306c;
}

.linkedin
{
	color: #0077b5;
}

.mail
{
	color: #4a4a4a;
}

.snapchat
{
	color: #b3b000;
}

.twitter
{
	color: #38a1f3;
}

.youtube
{
	color: #ed3833;
}
